In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import classification_report
from catboost import CatBoostClassifier
import joblib

In [2]:
# 学習データの読み込み
train_df=pd.read_csv("/Users/tasuke0630/making/DataScience/kaggle/Taitanic/train.csv")

# テストデータの読み込み
test_df=pd.read_csv("/Users/tasuke0630/making/DataScience/kaggle/Taitanic/test.csv")

# 学習データとテストデータを連結する
df=pd.concat([train_df,test_df],ignore_index=True)
#nullのCSV化
df_null=df.isnull().sum()
df_null.to_csv("null.csv")

# 元データをコピー
df2=df.copy()

In [3]:
#null_csvを見ながら,nullのデータの確認
#sns.countplot("Survived",data=df2)
#sns.countplot("Age",data=df2)
#sns.countplot("Fare",data=df2)
#sns.countplot("Cabin",data=df2)
#sns.countplot("Embarked",data=df2)

In [4]:
print(df2.Cabin.mode())
print(df2.Fare.mode())

Age_mdeian=df2.Age.median()
df2.Age=df2.Age.fillna(Age_mdeian)

0    C23 C25 C27
dtype: object
0    8.05
dtype: float64

In [5]:
# 欠損値の補完
df2.Fare=df2.Fare.fillna(8.05)
df2.Cabin=df2.Cabin.fillna("C23")
df2.Embarked=df2.Embarked.fillna("S")

In [6]:
df2.isnull().sum()

PassengerId      0
Survived       418
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64

In [7]:
#使わないカラムを削除する
df3=df2.drop(columns=["Name","Ticket"])
df3.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,1309.000000,891.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,655.000000,0.383838,2.294882,29.503186,0.498854,0.385027,33.276193
std,378.020061,0.486592,0.837836,12.905241,1.041658,0.865560,51.743584
min,1.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,328.000000,0.000000,2.000000,22.000000,0.000000,0.000000,7.895800
50%,655.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,982.000000,1.000000,3.000000,35.000000,1.000000,0.000000,31.275000
max,1309.000000,1.000000,3.000000,80.000000,8.000000,9.000000,512.329200

In [8]:
#カテゴリカル変数の数値変換
tmp_Sex=pd.get_dummies(df3["Sex"],prefix="Sex")
df3=pd.concat([df3,tmp_Sex],axis=1).drop(columns="Sex")

tmp_Cabin=pd.get_dummies(df3["Cabin"],prefix="Cabin")
df3=pd.concat([df3,tmp_Cabin],axis=1).drop(columns="Cabin")

tmp_Embarked=pd.get_dummies(df3["Embarked"],prefix="Embarked")
df3=pd.concat([df3,tmp_Embarked],axis=1).drop(columns="Embarked")
df3.sample(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Cabin_A10,...,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Embarked_C,Embarked_Q,Embarked_S
639,640,0.0,3,28.0,1,0,16.1000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
465,466,0.0,3,38.0,0,0,7.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,1
939,940,NaN,1,60.0,0,0,76.2917,1,0,0,...,0,0,0,0,0,0,0,1,0,0
178,179,0.0,2,30.0,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1123,1124,NaN,3,21.0,1,0,6.4958,0,1,0,...,0,0,0,0,0,0,0,0,0,1
819,820,0.0,3,10.0,3,2,27.9000,0,1,0,...,0,0,0,0,0,0,0,0,0,1
1163,1164,NaN,1,26.0,1,0,136.7792,1,0,0,...,0,0,0,0,0,0,0,1,0,0
150,151,0.0,2,51.0,0,0,12.5250,0,1,0,...,0,0,0,0,0,0,0,0,0,1
825,826,0.0,3,28.0,0,0,6.9500,0,1,0,...,0,0,0,0,0,0,0,0,1,0
126,127,0.0,3,28.0,0,0,7.7500,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [9]:
# 学習データに分割した結果を変数trainに格納する
train=df3[~df3.Survived.isnull()]

# テストデータに分割した結果を変数trainに格納する
test=df3[df3.Survived.isnull()]

#trainのデータ
train_x=train.drop(columns=["Survived","PassengerId"])
train_y=train["Survived"]

In [10]:
clf=CatBoostClassifier(loss_function = "Logloss",
                         n_estimators=80,
                         depth=5,
                         learning_rate=0.2)

In [17]:
clf.fit(train_x,train_y)

Y_pred_train=clf.predict(train_x)
print(classification_report(train_y, Y_pred_train))

X_test=test.drop(columns=["Survived","PassengerId"])
y_predict=clf.predict(X_test)

print("Stacking model score: %.4f"% clf.score(X_test,y_predict))

0:	learn: 0.5660227	total: 1.36ms	remaining: 107ms
1:	learn: 0.5132858	total: 2.75ms	remaining: 107ms
2:	learn: 0.4734936	total: 4.49ms	remaining: 115ms
3:	learn: 0.4523602	total: 5.86ms	remaining: 111ms
4:	learn: 0.4379946	total: 7.72ms	remaining: 116ms
5:	learn: 0.4210371	total: 9.12ms	remaining: 112ms
6:	learn: 0.4075378	total: 10.4ms	remaining: 109ms
7:	learn: 0.3976191	total: 11.8ms	remaining: 106ms
8:	learn: 0.3954955	total: 13.2ms	remaining: 104ms
9:	learn: 0.3899812	total: 14.5ms	remaining: 101ms
10:	learn: 0.3890448	total: 15.8ms	remaining: 99ms
11:	learn: 0.3843194	total: 17.2ms	remaining: 97.5ms
12:	learn: 0.3820100	total: 18.6ms	remaining: 96ms
13:	learn: 0.3798198	total: 20ms	remaining: 94.4ms
14:	learn: 0.3775550	total: 23ms	remaining: 99.7ms
15:	learn: 0.3764266	total: 24.9ms	remaining: 99.5ms
16:	learn: 0.3740977	total: 27.3ms	remaining: 101ms
17:	learn: 0.3719582	total: 31.1ms	remaining: 107ms
18:	learn: 0.3699304	total: 33.3ms	remaining: 107ms
19:	learn: 0.3685219	total: 35.6ms	remaining: 107ms
20:	learn: 0.3675462	total: 37.3ms	remaining: 105ms
21:	learn: 0.3668126	total: 39ms	remaining: 103ms
22:	learn: 0.3659087	total: 41ms	remaining: 102ms
23:	learn: 0.3647188	total: 42.9ms	remaining: 100ms
24:	learn: 0.3629764	total: 44.6ms	remaining: 98.2ms
25:	learn: 0.3587464	total: 46ms	remaining: 95.6ms
26:	learn: 0.3579271	total: 48.1ms	remaining: 94.5ms
27:	learn: 0.3566435	total: 50.2ms	remaining: 93.3ms
28:	learn: 0.3557430	total: 52.8ms	remaining: 92.9ms
29:	learn: 0.3546280	total: 54.8ms	remaining: 91.4ms
30:	learn: 0.3506804	total: 57ms	remaining: 90.1ms
31:	learn: 0.3497458	total: 58.9ms	remaining: 88.3ms
32:	learn: 0.3485112	total: 61.3ms	remaining: 87.4ms
33:	learn: 0.3471723	total: 62.6ms	remaining: 84.8ms
34:	learn: 0.3462164	total: 64ms	remaining: 82.3ms
35:	learn: 0.3454672	total: 65.5ms	remaining: 80.1ms
36:	learn: 0.3432833	total: 67.4ms	remaining: 78.3ms
37:	learn: 0.3410011	total: 69.1ms	remaining: 76.3ms
38:	learn: 0.3404154	total: 70.5ms	remaining: 74.1ms
39:	learn: 0.3395927	total: 72.5ms	remaining: 72.5ms
40:	learn: 0.3387918	total: 73.9ms	remaining: 70.3ms
41:	learn: 0.3380925	total: 75.1ms	remaining: 68ms
42:	learn: 0.3373247	total: 76.2ms	remaining: 65.6ms
43:	learn: 0.3365644	total: 77.4ms	remaining: 63.4ms
44:	learn: 0.3357198	total: 78.7ms	remaining: 61.2ms
45:	learn: 0.3348999	total: 79.8ms	remaining: 59ms
46:	learn: 0.3342539	total: 81ms	remaining: 56.9ms
47:	learn: 0.3336770	total: 82.2ms	remaining: 54.8ms
48:	learn: 0.3330731	total: 83.3ms	remaining: 52.7ms
49:	learn: 0.3324063	total: 84.5ms	remaining: 50.7ms
50:	learn: 0.3318953	total: 85.6ms	remaining: 48.7ms
51:	learn: 0.3285039	total: 87ms	remaining: 46.8ms
52:	learn: 0.3279188	total: 88.4ms	remaining: 45ms
53:	learn: 0.3274303	total: 89.5ms	remaining: 43.1ms
54:	learn: 0.3269324	total: 90.7ms	remaining: 41.2ms
55:	learn: 0.3262780	total: 91.9ms	remaining: 39.4ms
56:	learn: 0.3258060	total: 93.1ms	remaining: 37.6ms
57:	learn: 0.3253470	total: 94.3ms	remaining: 35.8ms
58:	learn: 0.3249247	total: 95.5ms	remaining: 34ms
59:	learn: 0.3211745	total: 96.6ms	remaining: 32.2ms
60:	learn: 0.3204088	total: 97.8ms	remaining: 30.5ms
61:	learn: 0.3200192	total: 98.9ms	remaining: 28.7ms
62:	learn: 0.3196329	total: 100ms	remaining: 27ms
63:	learn: 0.3155761	total: 101ms	remaining: 25.3ms
64:	learn: 0.3151897	total: 103ms	remaining: 23.7ms
65:	learn: 0.3148000	total: 104ms	remaining: 22ms
66:	learn: 0.3144203	total: 105ms	remaining: 20.4ms
67:	learn: 0.3140452	total: 106ms	remaining: 18.8ms
68:	learn: 0.3137067	total: 107ms	remaining: 17.1ms
69:	learn: 0.3133503	total: 109ms	remaining: 15.5ms
70:	learn: 0.3129123	total: 110ms	remaining: 13.9ms
71:	learn: 0.3122438	total: 111ms	remaining: 12.3ms
72:	learn: 0.3119424	total: 112ms	remaining: 10.7ms
73:	learn: 0.3093454	total: 113ms	remaining: 9.19ms
74:	learn: 0.3090183	total: 115ms	remaining: 7.64ms
75:	learn: 0.3086932	total: 116ms	remaining: 6.09ms
76:	learn: 0.3069667	total: 117ms	remaining: 4.56ms
77:	learn: 0.3054326	total: 118ms	remaining: 3.03ms
78:	learn: 0.3020474	total: 119ms	remaining: 1.51ms
79:	learn: 0.3014925	total: 121ms	remaining: 0us
              precision    recall  f1-score   support

         0.0       0.90      0.96      0.93       549
         1.0       0.92      0.82      0.87       342

    accuracy                           0.91       891
   macro avg       0.91      0.89      0.90       891
weighted avg       0.91      0.91      0.90       891

Stacking model score: 1.0000

In [18]:
result=pd.DataFrame(y_predict)

#列名に名前をつける
result2=result.rename(columns={result.columns[0]: "Survived"})

#PassngerIdを合わせる
l=[]
l2=[]
t_id=test_df.loc[:,"PassengerId"]
for i in range(len(t_id)):
               tmp={
                   "PassengerId":t_id[i]
               }
               l.append(tmp);
               
l2=pd.DataFrame(l);
result3=pd.concat([l2,result2],axis=1)


#予測結果を整数に変換する
result3.Survived=result3.Survived.astype(int)
result3.PassengerId=result3.PassengerId.astype(int)

In [19]:
# CSVの作成
result3.to_csv("predict7.csv",index=False)